    * {
        box-sizing: border-box;
        border: 0px;
        padding: 0px;
        margin: 0px;
    }

    a:link {
        text-decoration: none;
        color: black;
    }
    a:visited {
        text-decoration: none;
        color: black;
    }
    a:hover {
        text-decoration: none;
        color: black;   
    }

    a:active {
        text-decoration: none;
        color: black;
    }

    /* DISPOSITIVOS DESKTOP */
        @media screen and (min-width: 550px) {
            .footer-mob {
                display: none;
            }

            /* Navegador Negro*/
            .navblack {
                width: 100%;
                height: auto;
                background-color: black;
                color: greenyellow;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                align-content: center;
            }

            .cont-login {
                display: flex;
                flex-flow: row wrap;
                gap: 20px;
            }

            .btn-login {
                color: white;
                font-family: 'Bebas Neue', cursive;
                padding: 5px;
                background-color: black;
            }

            .btn-login a {
                color: white;
                font-family: 'Bebas Neue', cursive;
                padding: 5px;
            }

            .btn-login:hover {
                padding: 5px;
                color: greenyellow;
                font-family: 'Bebas Neue', cursive;
            }
            
            .btn-login a:hover {
                padding: 5px;
                color: black;
                font-family: 'Bebas Neue', cursive;
                transition: all 1s;
                background-color: white;
            }

            .scale {
                transform: scale(1, 1);
                margin: 0 auto;
            }

            .scale:hover{
                transform: scale(1.2, 1.2);
                transition: all 1s;
            }
            
            .scale2 {
                transform: scale(1, 1);
                margin: 0 auto;
            }

            .scale2:hover{
                transform: scale(2, 2);
                transition: all 1s;
            }    

            /* Navegador Verde */
            .navgreen {
                background-color: greenyellow;
                width: 100.1%;
                height: auto;
                margin: -1px;
            }

            .navbarborder {
                border-bottom: 1px solid greenyellow;
                box-shadow: 0px 0px 20px greenyellow;
            }

            .navgreen-nomove {
                position: sticky;
                top: 0;
                z-index: 999;
            }

            .internos {
                padding: 10px;
                margin-top: -15px;
                border-bottom-color: black;
            }

            .internos-img {
                padding: 10px;
                margin-top: -15px;
                border-bottom-color: black;
            }

            .logo {
                font-family: 'Bebas Neue', cursive;
                font-size: 30px;
                padding: 10px;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                margin-left: 30px;
            }

            .finbtn {
                font-family: 'Bebas Neue', cursive;
                font-size: 30px;
                color: black;
                padding: 15px;
                transition: all 1s;
            }

            .finbtn:hover {
                background-color: black;
                color: greenyellow;
                padding: 15px;
            }

            .menu-txt {
                font-family: 'Bebas Neue', cursive;
                color: white;
                font-size: 20px;
            }

            .menu-txt:hover {
                font-family: 'Bebas Neue', cursive;
                color: greenyellow;
            }

            .cabecera {
                width: 100%;
                height: 400px;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                align-items: center;
                align-content: center;
            }

            .cabecera-titulo {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                align-content: center;
                font-family: 'Bebas Neue', cursive;
                font-size: 30px;
                padding: 30px;
                background-color: greenyellow;
                color: black;
            }

            .carrucel {
                width: 45%;
            }

            .populares {
                display: flex;
                flex-flow: row wrap;
                gap: 30px;
                color: white;
                justify-content: center;
                align-items: center;
                align-content: center;
            }

            .populares img {
                border: 1px solid greenyellow;
                box-shadow: 0px 0px 10px greenyellow;
            }

            .cajon-txt {
                background-color: black;
                border: 1px solid greenyellow;
                box-shadow: 0px 0px 10px greenyellow;
                width: 100%;
            }

            .parrafo-3 {
                /*font-family: 'Cute Font', cursive;*/
                padding: 12px;
                font-family: 'Oswald', sans-serif;
                font-size: 20px;
                flex-flow: row wrap;

                color: white;
            }
            
            .parrafo-3 a {
                padding: 12px;
                font-family: 'Oswald', sans-serif;
                font-size: 20px;
                flex-flow: row wrap;

                color: greenyellow;
            }

            .parrafo-3 a:hover {
                padding: 12px;
                font-family: 'Oswald', sans-serif;
                font-size: 20px;
                flex-flow: row wrap;

                color: black;
                transition: all 1s;
                background-color: white;
            }

            .section {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                align-items: center;
                align-content: center;
                padding: 10px;
                width: 100%;
            }

            .pop-mob {
                display: block;
            }

            .clientes-title {
                display: block;
            }

            .cardcenter{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                align-content: center;
                font-family: 'Oswald', sans-serif;
                padding: 10px;
                font-size: 30px;
            }

            .contenedor-botonesverdes {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                align-content: center;
                background-color: black;
                color: white;
                width: 100%;
                height: auto;
                padding: 50px;
            }
            
    }

    /* DISPOSITIVOS ANDROID */
    @media screen and (max-width: 550px) {
        header {
            display: none;
        }

        .pop-mob {
            display: none;
        }
        
        .section-off {
            display: none;
        }

        .clientes-title {
            display: none;
        }

        .carrucel {
            display: none;
        }
        
        .footer {
            display: none;
        }

        .footer-mob {
            width: 100%;
        }

        .parrafo-mob {
            padding: 5px;
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            color: black;
        }

        /* Navegador Verde */
        .navgreen {
            background-color: greenyellow;
            width: 100%;
            height: 100px;
        }

        .navbarborder {
            border-bottom: 1px solid greenyellow;
            box-shadow: 0px 0px 20px greenyellow;
        }

        .navgreen-nomove {
            position: sticky;
            top: 0;
            z-index: 999;
        }

        .internos {
            padding: 10px;
            margin-top: -15px;
            border-bottom-color: black;
        }

        .internos-img {
            padding: 10px;
            margin-top: -15px;
            border-bottom-color: black;
        }

        .logo {
            font-family: 'Bebas Neue', cursive;
            font-size: 30px;
            padding: 10px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin-left: 30px;
        }

        .finbtn {
            font-family: 'Bebas Neue', cursive;
            font-size: 30px;
            color: black;
            padding: 15px;
            transition: all 1s;
        }

        .finbtn:hover {
            background-color: black;
            color: greenyellow;
            padding: 15px;
        }

        .menu-txt {
            font-family: 'Bebas Neue', cursive;
            color: white;
            font-size: 20px;
        }

        .menu-txt:hover {
            font-family: 'Bebas Neue', cursive;
            color: greenyellow;
        }

        .cabecera {
            width: 100%;
            height: 400px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
        }

        .cabecera-titulo {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            font-family: 'Bebas Neue', cursive;
            font-size: 30px;
            padding: 30px;
            background-color: greenyellow;
            color: black;
        }

        .populares {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 30px;
            color: black;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        .populares img {
            border: 1px solid greenyellow;
            box-shadow: 0px 0px 10px greenyellow;
        }   

        .cajon-txt {
            background-color: black;
            border: 1px solid greenyellow;
            box-shadow: 0px 0px 10px greenyellow;
            width: 100%;
        }

        .parrafo-3 {
            /*font-family: 'Cute Font', cursive;*/
            padding: 12px;
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            flex-flow: row wrap;

            color: white;
        }
        
        .parrafo-3 a {
            padding: 12px;
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            flex-flow: row wrap;

            color: greenyellow;
        }

        .parrafo-3 a:hover {
            padding: 12px;
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            flex-flow: row wrap;

            color: black;
            transition: all 1s;
            background-color: white;
        }

        .cardcenter{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            font-family: 'Oswald', sans-serif;
            padding: 10px;
            font-size: 30px;
        }

    }

    /* BOOTSTRAP STYLE */ 
    /* Banners*/
    .banner1 {
        background-image: url(../img/wall-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    .banner2 {
        background-image: url(../img/content-wl2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    .banner3 {
        background-image: url(../img/content-wl3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    .banner4 {
        background-image: url(../img/content-wl4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    .banner5 {
        background-image: url(../img/content-wl5.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    .banner6 {
        background-image: url(../img/content-wl.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    .banner7 {
        background-image: url(../img/wll-mini-cont.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }

    .banner8 {
        background-image: url(../img/wll-mini-cont2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }

    .banner9 {
        background-image: url(../img/wall3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }

    .banner10 {
        background-image: url(../img/wall4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }

    .banner11 {
        background-image: url(../img/wall5.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }

    .banner12 {
        background-image: url(../img/wall2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }

    .banner13 {
        background-image: url(../img/wall4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }
    
    .modal-contenedor {
        font-family: 'Bebas Neue', cursive;
        border: 1px solid greenyellow;
        box-shadow: 0px 0px 10px greenyellow;
        background-color: black;
        color: greenyellow;
    }

    section {
        background-color: black;
        color: white;
        width: 100%;
        height: auto;
        padding: 50px;
    }

    .modal-bg {
        background-color: black;
    }

    .modal-style {
        font-family: 'Bebas Neue', cursive;
        background-color: black;
        color: white;
        border: 1px solid greenyellow;
        box-shadow: 0px 0px 10px greenyellow;
    }

    /* CONTENEDOR INVISIBLE */

    /* Barras contenedores colapsos*/
    .collapsible {
        font-family: 'Bebas Neue', cursive;
        background-color: greenyellow;
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 20px;
    }
    .text-button{
        text-align: center;
    }
      
    .active, .collapsible:hover {
        background-color: black;
        color: greenyellow;
        border: 1px solid greenyellow;
    }
      
    .content {
        
        display: none;
        overflow: hidden;
        background-color: black;
        color: white;
        border: 1px solid greenyellow;
        padding: 30px;
    }

    .content-flex{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .content-flex p {
        width: 80%;
    }
    
    .content-flex .cardcenter {
        width: 100%;
    }

    /* TITULARES */
    .titles {
        width: 100%;
        height: 100px;
        background-color: greenyellow;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-family: 'Bebas Neue', cursive;
        color: black;
        font-size: 30px;
    }

    .section-promo {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;

        color: white;
        width: 100%;
        height: auto;
    }

    .contenedor-ext {
        color: black;
        width: 100%;
        height: 100%;
        display: flex;
        padding: 20px 20px;
        justify-content: center; /* HORIZONTAL */
        align-items: center;
        align-content: center;
    }

    .conteiner-promociones{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        border: 1px solid greenyellow;
        border-radius: 10px;
        box-shadow: 0px 0px 20px greenyellow;
        width: 40%;
        padding: 20px;
    }
   
    .title-footer {
        font-family: 'Bebas Neue', cursive;
        font-size: 30px;
        text-align: left;
        padding: 12px;
    }

    .footer-img {
        gap: 10px;
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }

    .footer-cont {
        display: flex;
        flex-flow: column wrap;
        width: 2000px;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        padding: 10px 10px;
        margin-top: -2%;
    }

    .footer {
        background-color: greenyellow;
        height: 400px;
    }

    .footer-logo {
        font-family: 'Bebas Neue', cursive;
        background-color: black;
        font-size: 50px;
        text-align: center;
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 20px;
        color: greenyellow;
    }

    .footer-logo a {
        color: greenyellow;
    }

    .metodo-pagos{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: 1px solid greenyellow;
        box-shadow: 0px 0px 20px greenyellow;
        border-radius: 10px;
        gap: 2%;
        width: 100%;
    }

    .parrafo-2 {
        /*font-family: 'Cute Font', cursive;*/
        padding: 12px;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        flex-flow: row wrap;
        flex: 4;
        color: black;
    }

    .parrafo-promo {
        padding: 12px;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        flex-flow: row wrap;
        flex: 4;
        color: white;
    }

    .text-slider {
        font-family: 'Bebas Neue', cursive;
        color: black;
    }

    .text-slider2 {
        font-family: 'Bebas Neue', cursive;
        color: white;
    }

    .borde-img {
        box-shadow: 0px 0px 20px greenyellow;
    }

    .footer-cont .parrafo-mob a:hover {
        color: greenyellow;
    }
    /* RETOQUES BOOTSTRAP */

    .contenedor-chico {
        background-color: black;
        color: greenyellow;
        border: 1px solid greenyellow;
        box-shadow: 0px 0px 20px greenyellow;
        padding: 30px;
        border-radius: 10px;
    }