/*********************************************************************************************/
/* ENCABEZADOS *******************************************************************************/
/*********************************************************************************************/
/* BANNERS ***********************************************************************************/
.bg1 {
  background-image: url(../img/bk-fin.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bg2 {
  background-image: url(../img/bk-fin2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bg3 {
  background-image: url(../img/bk-fin3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bg4 {
    background-image: url(../img/bk-fin4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.bg-bar {
    background-image: url(../img/bg-bar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.banner1 {
    background-image: url(../img/wall-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.banner2 {
    background-image: url(../img/animales.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.banner3 {
    background-image: url(../img/content-wl3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.banner4 {
    background-image: url(../img/content-wl4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.banner5 {
    background-image: url(../img/content-wl5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.banner6 {
    background-image: url(../img/content-wl.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.banner7 {
    background-image: url(../img/wll-mini-cont.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.banner8 {
    background-image: url(../img/wll-mini-cont2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.banner9 {
    background-image: url(../img/wall3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.banner10 {
    background-image: url(../img/wall4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.banner11 {
    background-image: url(../img/wall5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.banner12 {
    background-image: url(../img/wall2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.banner13 {
    background-image: url(../img/wall4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
/*********************************************************************************************/

.cabecera {
    width: 100%;
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.cabecera-titulo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding: 30px;
    background-color: violet;
    color: black;
}

.carrucel {
    width: 60%;
}

.conteiner-marcas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px;
    width: 90%;
    margin: auto;
    
}

.padre-marcas {
    background-color: black;
    color: violet;
}

.publicidad {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 2%;
    padding: 10px 10px 40px;
    width: 100%;
}
.publicidad1 {
    padding-right: 20px;
}
.conteiner-publicidad {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}