/*********************************************************************************************/
/* FOOTER DESKTOP ****************************************************************************/
/*********************************************************************************************/
/* ESCRITORIO ********************************************************************************/
.title-footer {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    text-align: left;
    padding: 12px;
}

.footer-img {
    gap: 10px;
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.footer-cont {
    display: flex;
    flex-flow: column wrap;
    width: 2000px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px 10px;
    margin-top: -2%;
}

.footer {
    background-color: violet;
    height: 400px;
}

.footer-logo {
    font-family: 'Bebas Neue', cursive;
    background-color: black;
    font-size: 50px;
    text-align: center;
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    color: violet;
}

.footer-logo a {
    color: violet;
}

.parrafo-2 {
    /*font-family: 'Cute Font', cursive;*/
    padding: 12px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    flex-flow: row wrap;
    flex: 4;
    color: black;
}

.parrafo-promo {
    padding: 12px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    flex-flow: row wrap;
    flex: 4;
    color: white;
}

.footer-cont .parrafo-mob a:hover {
    color: violet;
}

.contenedor-ext {
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px 20px;
    justify-content: center; /* HORIZONTAL */
    align-items: center;
    align-content: center;
}

.footer-cont {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px 10px;
    margin-top: -2%;
}