/*********************************************************************************************/
/* MODALS ************************************************************************************/
/*********************************************************************************************/
.modal-contenedor {
    font-family: 'Bebas Neue', cursive;
    border: 1px solid violet;
    box-shadow: 0px 0px 10px violet;
    background-color: black;
    color: violet;
}

.modal-bg {
    background-color: black;
}

.modal-style {
    font-family: 'Bebas Neue', cursive;
    background-color: black;
    color: white;
    border: 1px solid violet;
    box-shadow: 0px 0px 10px violet;
}
/******************************************************************************************************************/