/*********************************************************************************************/
/* NUESTRO CLIENTES DICEN ********************************************************************/
/*********************************************************************************************/
/* BANNERS ***********************************************************************************/
.titles {
    width: 100%;
    height: 80px;
    background-color: violet;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    color: black;
    font-size: 30px;

}

.populares {
    display: flex;
    background-color: white;
    flex-flow: row wrap;
    gap: 30px;
    color: white;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 50px;
    color: black;
    img {
        border: 1px solid violet;
        box-shadow: 0px 0px 10px violet;
    }
}

.produ-cartelera {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 30px;
}

.contenedortex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.divform {
    width: 100%;

  }

/*********************************************************************************************/