/*********************************************************************************************/
/* PORTAFOLIOS *******************************************************************************/
/*********************************************************************************************/
.section-port {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    padding: 50px;
}

.section-portafolio {
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    padding: 50px;
}